# Окружение Python
venv/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Переменные окружения
.env

# Логи
*.log

# Файлы IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Кэш
.pytest_cache/
.mypy_cache/

# Временные файлы бота
*.tmp

readme2.md
recommendations.md
my.md